main {
	position: relative;
}


.that{
  border: 1px solid red;
}

.pd-h-10{
  padding: 0 10px;
}

.triangle{
  cursor: pointer;
}

.flip {
  transform: rotate(180deg) translateX(6px) translateY(-6px);
}
.modal_fade:before {
  display: none;
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 1;
}

.modal_fade_trick:before{
  display: block;
}

.my_modal_delete {
  display: none;
	position: fixed;
	top: 35%;
	left: 37.5%;
  width: 25%;
  height: 200px;
	background: #fff;
	border: 3px solid #333;
	border-radius: 4px; 
	z-index: 2;
	opacity: 1;	
}

.my_modal_edit {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	border: 3px solid #333;
	border-radius: 4px;
	width: 350px;
	padding: 25px;
	/* padding-right: 60px; */
	/* padding-left: 40px; */
	z-index: 2;
	opacity: 1;
	transform: translate(-50%, -15%);
}

.mg-t-15 {
	margin-top: 15px;
}

.mg-t-35 {
	margin-top: 35px;
}

.mg-h-auto {
	margin: 0 auto;
}

.border-bottom {
	border-bottom: 2px solid black;
}

.txt-align-center {
	text-align: center;
}

.light_border {
	border: 2px solid #CCC;
	border-radius: 4px; 
}

.mg-l-0 {
	margin-left: 0 !important;
}
.mg-r-0 {
	margin-right: 0 !important;
}

h2 {
	margin-left: -15px;
}

.mg-l--15{
	margin-left: -15px;
}