main {
	position: relative;
}


label {
	width: 100%;
}

.that{
  border: 1px solid red;
}

.pd-h-10{
  padding: 0 10px;
}

.triangle{
  cursor: pointer;
}

.flip {
  transform: rotate(180deg) translateX(6px) translateY(-6px);
}
.modal_fade:before {
  display: none;
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 1;
}

.modal_fade_trick:before{
  display: block;
}

.my_modal_delete {
  display: none;
	position: fixed;
	top: 35%;
	left: 37.5%;
  width: 25%;
  height: 200px;
	background: #fff;
	border: 3px solid #333;
	border-radius: 4px; 
	z-index: 2;
	opacity: 1;	
}

.my_modal_edit {
	display: none;
	position: absolute;
	top: 25vh;
	left: 50%;
	background: #fff;
	border: 3px solid #333;
	border-radius: 4px;
	width: 370px;
	padding: 25px;
	/* padding-right: 60px; */
	/* padding-left: 40px; */
	z-index: 2;
	opacity: 1;
	transform: translate(-50%, -15%);
}

.mg-t-15 {
	margin-top: 15px;
}

.mg-t-35 {
	margin-top: 35px;
}

.mg-h-auto {
	margin: 0 auto;
}

.mg-r-15{
	margin-right: 15px;
}

.mg-l-15 {
	margin-left: 15px;
}

.mg-l-10 {
	margin-left: 10px;
}

.mg-l-9 {
	margin-left: 8px;
}

.mg-l-5 {
	margin-left: 5px;
}
.mg-r-7 {
	margin-right: 7px;
}
.mg-l--10 {
	margin-left: -10px;
}
.mg-r--15 {
	margin-right: -15px;
}
.mg-r-10 {
	margin-right: 10px;
}

.mg-b-15 {
	margin-bottom: 15px;
}
.pd-l-15 {
	padding-left: 15px !important;
}

.pd-l-20 {
	padding-left: 20px !important;
}

.pd-l-22 {
	padding-left: 22px !important;
}

.border-bottom {
	border-bottom: 2px solid black;
}

.txt-align-center {
	text-align: center;
}

.light_border {
	border: 2px solid #CCC;
	border-radius: 4px; 
}

.mg-l-0 {
	margin-left: 0 !important;
}
.mg-r-0 {
	margin-right: 0 !important;
}

h2 {
	margin-left: -15px;
}

.mg-l--15{
	margin-left: -15px;
}

.mg-l--28{
	margin-left: -28px;
}

.mg-r--28{
	margin-right: -28px;
}

.mg-r-24{
	margin-right: 24px;
}

.brd{
	border: 1px solid red;
}

.label_city {
	min-width: 100px;
}

.note {
	color: red;
	font-size: 12px;
	margin-bottom: -15px;
}

.hidden {
	display: none !important;
	position: absolute !important;
	pointer-events: none !important;
}

.good_name {
	text-decoration: underline;
	cursor: pointer;
}

.delivery {
	width: 114%;
}

.my_modal_description {
  display: none;
	position: fixed;
	top: 25vh;
	left: 37.5%;
  width: 25%;
  height: 450px;
	background: #fff;
	border: 3px solid #333;
	border-radius: 4px; 
	z-index: 2;
	opacity: 1;	
}

.invalid {
	border: 3px solid rgba(255, 0, 0, 0.5) !important;
}

.search {
	max-width: 66%;
}

.modal_save {
	width: 113% !important;
}

.modal_cancel {
	width: 141.5% !important;
}